

html
{
	background: url(images/bg1.svg) no-repeat center center fixed;
	background-size:cover;
	min-height:100%;
	background-color:rgba(58,131,168,0.6);
}

body {
	margin: 0;
	height: 100%;
}


a:focus{
	outline-color:#fdfdfd;
}

/* Strona główna */

.list{
	display:none;
	}
	
	.evry{
		display:inline;
		
		
	}

	#longer {
		height: 65px;
		background-color: #3A83A8;
		opacity: 0.9;   
	}

	#main {
		width:1240px;
		margin-right:auto;
		margin-left:auto;
	}

	#menu {
		height: 65px;
		background-color: #3A83A8;
		letter-spacing: 2px;
		font-family: 'Julius Sans One';
		color: black;
		display:block;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
		opacity:0.95;
		margin-left:auto;
		margin-right:auto;
	}
	
	#back {
		width:630px;
		margin: auto;
		left: 50%;
		top: 50%; 
		position: absolute;
		margin-left: -315px;
		margin-top: -170px;
	}
	
	#mailmk {
		width: 570px;
		height:53px;
		position:relative;
		margin: auto;
		text-align: center;
		font-size: 34px;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		background-color: rgba(58,131,168,0.6);
		padding:15px;
		border-radius:50px;
	}

	
	#icons {
		margin:auto;
		float:left;
		width:630px;
		padding-top:30px;
		text-align:center;
	
	}
	
	#toggle{
		display:none;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size:35px;
		outline: none;
		text-align:center;
		position:absolute;
		padding-top:5px;
		height:60px;
		width:220px;
		right:50%;
		transform: translateX(50%);
		background-color: #3A83A8;
	}
	
	
	.nav1{
		height: 65px;
		padding:15px;
		font-size: 35px;
		text-align: center;
		float:left;
		min-width:175px;
		margin-left:60px;
	}
	
	.nav2{
		height: 65px;
		padding: 15px;
		font-size: 35px;
		margin-left: 20px;
		text-align: center;
		float:left;
		min-width:134px;
	}
	
	.nav3 {
		height: 65px;
		width: 230px;
		float: left;
		font-size: 35px;
		margin-left: 45px;
		margin-right: 40px;
		border-left: dotted 1px;
		border-right: dotted 1px;
	}

	.nav3:hover .logo{
		transform:scale(0.85);
	}
	
	.nav4 {
		height: 65px;
		padding: 15px;
		font-size: 35px;
		margin-right: 25px;
		text-align: center;
		float:left;
		min-width: 180px;
	}

	.nav5 {
		height: 65px;
		padding: 15px;
		font-size: 35px;
		margin-right: 60px;
		text-align: center;
		float:left;
		min-width: 75px;
	}

	.navm2{
		display:none;
	}
	
	nav{
		position:relative;
		list-style:none;
		padding:0;
		margin-top:0;
		margin-bottom:0;
	}
	
	ul{
		padding:0;
		margin-top:0;
		margin-bottom:0;
		
	}
	
	ul > li{
		list-style:none;
		float:left;
		font-size:35px;
		text-align:center;
		height: 65px;
		padding:0;
		margin-top:0;
		margin-bottom:0;
	}
	
	.dur1{
		width:0px;
		height:40px;
		transition-property: width, margin-right;
		transition-duration: 500ms;
		border-bottom: solid 0.5px;
		margin-right: 175px;
		float:left;
		
	}


	.dur1:hover {
		width:175px;
		margin-right: 0px;
		cursor:pointer;
		opacity: 0.8;
	}


	.dur2{
		width:0px;
		height:40px;
		transition-property: width, margin-right;
		transition-duration: 500ms;
		border-bottom: solid 0.5px;
		margin-right: 140px;
		float:left;
		
	}


	.dur2:hover {
		width:140px;
		margin-right: 0px;
		cursor:pointer;
		opacity: 0.8;
	}

	.dur3{
		width:0px;
		height:40px;
		transition-property: width, margin-right;
		transition-duration: 500ms;
		border-bottom: solid 0.5px;
		margin-right: 180px;
		float:right;
		
	}


	.dur3:hover {
		width:180px;
		margin-right: 0px;
		cursor:pointer;
		opacity: 0.8;
	}


	.dur4{
		width:0px;
		height:40px;
		transition-property: width, margin-right;
		transition-duration: 500ms;
		border-bottom: solid 0.5px;
		margin-right: 105px;
		float:right;
		
	}


	.dur4:hover {
		width:105px;
		margin-right: 0px;
		cursor:pointer;
		opacity: 0.8;
	}


		
	.logo {
		height: 65px;
		width: 60px;
		margin-left: auto;
		margin-right: auto;
		display:block;
		transition-property:transform; 
		transition-duration:300ms;
	}
	
	.mail {
		height:55px;
		width:50px;
		margin-right:5px;
		vertical-align:middle;
	}
	
	.icon {
		height:130px;
		width:130px;
		margin-top:35px;
		transition:transform;
		transition-duration:300ms;
	}
	
	.circle {
		float:left;
		height:200px;
		width:200px;
		border-radius:100px;
		background-color: rgba(58,131,168,0.6);
		margin:5px;
	}
	
	.mirko {
		height:130px;
		width: 160px;
		outline:none;
		margin-top:35px;
		transition:transform;
		transition-duration:300ms;
	}
	
	.icon:hover{
		opacity:0.8;
		transform:scale(0.9);
	}
	
	.mirko:hover{
		opacity:0.8;
		transform:scale(0.9);
	}
	
	#opa {
		transition:transform;
		transition-duration:300ms;
	}
	
	#opa:hover{
		opacity:0.8;
		transform:scale(0.95);
	}

		.count-particles{
		  position: absolute;
		  top: 48px;
		  left: 0;
		  width: 80px;
		  color: #13E8E9;
		  font-size: .8em;
		  text-align: left;
		  text-indent: 4px;
		  line-height: 14px;
		  padding-bottom: 2px;
		  font-family: Helvetica, Arial, sans-serif;
		  font-weight: bold;
		}

		.js-count-particles{
		  font-size: 1.1em;
			position:fixed;
		}


		#particles-js{
		  width: 100%;
		  height: 100%;
		  background-image: url('');
		  background-size: cover;
		  background-position: 50% 50%;
		  background-repeat: no-repeat;
		  position:fixed;
		}


	
/* Footer */
		
	#border {
		position:fixed;
		margin-right: auto;
		margin-left:auto;
		width:500px;	
		bottom: 0;
		right:0;
		left:0;
		border-bottom: 35px solid #3A83A8;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		opacity: 0.5;
		
	}
	
	footer {
		position:fixed;
		margin-right: auto;
		margin-left:auto;
		bottom: 0;
		right:0;
		left:0;
		font-size:13px;
		text-align: center;
		letter-spacing: 2px;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		padding: 10px;
	}
	
	

		
	#borderspecial {
		position:relative;
		margin-right: auto;
		margin-left:auto;
		width:500px;
		right:0;
		left:0;
		border-bottom: 35px solid #3A83A8;
		border-left: 50px solid transparent;
		border-right: 50px solid transparent;
		opacity: 0.5;
		z-index:-5;
		
	}
	
	#footerspecial {
		position:absolute;
		margin-top:-38px;
		margin-right: auto;
		margin-left:auto;
		right:0;
		left:0;
		text-align: center;
		font-size:13px;
		letter-spacing: 2px;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		padding: 10px;
		z-index:2;
		
	}
	
	#borderspecial:before{
		content: '';
		display: block;
		clear: both;
	}
	
	
	

/* Projekty */
	
	#projekty {
		background-color: rgba(58,131,168,0.6);
		width:950px;
		margin: auto;
		height: 220px;
		top:50%;
		right:50%;
		margin-top:-110px;
		transform: translateX(50%);
		position: absolute;
	}
	
	#tekst {
		margin: auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 28px;
		position: relative;
		top: 55%;
		transform: translateY(-50%);
	}
	
	.man{
		vertical-align:middle;
		position:absolute;
		width:50px;
		height:50px;
		top:14%;
		right:50%;
		transform:translateX(50%);
	}

	
/* O mnie */	


	a{
		text-decoration:none;
		color: black;
	}
	
		.zdjecie {
		border-radius:50%;
		width:160px;
		position:relative;
		float:left;
		margin:8px;
		display:block;
		border: 6px solid rgba(58,131,168,0.8);
		margin-top:6%;
	}
	
	.tekstright {
		margin: auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 23px;
		position: relative;
		width:520px;
		float:left;
		padding:20px;
		margin-top:4px;
	}
	
	
	.tlo {
		width: 560px;
		height:280px;
		background-color: rgba(58,131,168,0.8);
		float:left;
		position:relative;
	}
	
	.triangle3 {
		width: 0;
		height: 0;
		margin:0;
		padding:0;
		border-top: 280px solid rgba(58,131,168,0.8);
		border-left: 120px solid transparent;
		float:left;
		position:relative;
	}
	.triangle4 {
		width: 0;
		height: 0;
		margin:0;
		padding:0;
		border-bottom: 280px solid rgba(58,131,168,0.8);
		border-right: 120px solid transparent;
		float:left;
		position:relative;
	}
	
	.part1 {
		width:995px;
		padding:16px;
		position:relative;
		margin:auto;
		margin-top:8%;
		height:70vh;
	}
	
	.se {
		font-style:italic;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	}
	
	
	.part2 {
		width:100%;
		height:360px;
		background-color: rgba(58,131,168,0.8);
		position:relative;
		margin:auto;
		float:left;
		padding-top:50px;
		padding-bottom:50px;
	
	}
	
	.title{
		margin: auto;
		text-align: center;
		font-weight:700;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		letter-spacing: 2px;
		font-size: 41px;
		position: relative;
		margin-top:30px;
		margin-bottom:15px;
		
	}
	
	.ex {
		float:left;
		margin:16px 64px 16px 64px;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 24px;
		font-weight:700;
		position: relative;
		display:block;
		width:120px;
		height:168px;
	}
	
	.lang{
		height:120px;
		width:120px;
		position:relative;
	}
	
	
	.second{
		width:995px;
		margin:auto;
	}
	
	.tst{
		float:bottom;
		display:block;
		margin-top:8px;
	}
	
	.part3 {
		width:100%;
		height:450px;
		background-color: rgba(93,178,221,0.8);
		position:relative;
		margin:auto;
		float:left;
		margin-top:20vh;
		margin-bottom:24vh;
		padding-top:60px;
		padding-bottom:60px;
	}
	
	.ax {
		float:left;
		margin:35px 66px 20px 66px;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 30px;
		font-weight:700;
		position: relative;
		display:block;
		width:160px;
		height:256px;
	}
	
	.lang2 {
		height:56px;
		width:56px;
		position:relative;
	}
	
	.arrow {
		float:left;
		position:relative;
		width:56px;
		margin-top:104px;
	}
	
	.tt {
		margin: auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		letter-spacing: 2px;
		font-size: 39px;
		position: relative;
		margin-bottom:8px;
	}
	
	.infot{
		margin: auto;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		letter-spacing: 2px;
		font-size: 19px;
		position: relative;
		margin-top:8px;
		font-weight:300;
		margin-left:-20px;
		margin-bottom:8px;
		width:200px;
		
	}
	
	.scrolldown{
		text-decoration:none;
		position:absolute;
		right:50%;
		bottom:15px;
		transform:translateX(50%);
		background:url("images/arrowds.png") no-repeat 0px 0px;
		width:64px;
		height:64px;
		z-index:100;
	}
		
	#try{
		position:relative;
		bottom:0;
		padding-top:10vh;
	}
	
	
	/* 4 */
	
	.part4 {
		width:100%;
		height:450px;
		background-color: rgba(58,131,168,0.8);
		position:relative;
		margin:auto;
		float:left;
		padding-top:40px;
		padding-bottom:40px;
		margin-bottom:30vh;
	
	}
	
	.spotify {
		margin:auto;
		width:300px;
		height:300px;
		position:relative;
		float:left;
		display:block;
		margin-top:10px;
		padding:6px;
		border: 4px solid rgba(58,131,168,1);
	}
	
	.opis {
		margin: auto;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 28px;
		position: relative;
		text-align:center;
		width:450px;
		float:left;
		display:block;
		margin-top: 65px;
		padding: 0px 50px 0px 50px;
	}
	
	.b {
		margin:auto;
		width:870px;
		display:block;
		
	}
	
	.special{
		font-style:italic;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
		
	}
	
/* Blog */

	#content {
		width:1100px;
		margin:auto;
		min-height:350px;
		top:52%;
		right:50%;
		margin-top:-210px;
		transform: translateX(50%);
		position: absolute;
		}
		

	
	.overlay{
		position:absolute;
		width:100%;
		height:100%;
		background:url(images/overlay.png);
		z-index:109;
	}
	
	.tresc{
		background-color: rgba(58,131,168,1);
		width:300px;
		min-height:97px;
		position:relative;
	}
	
	.wewnatrz{
		text-align:left;
		width:280px;
		max-height:100%;
		margin:0px 0px 16px 8px;
		font-size: 22px;
		position: absolute;
		font-weight:300;
		z-index:110;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
		letter-spacing: 2px;
	}

	
	.triangle6 {
		width: 0;
		height: 0;
		border-bottom:48px solid rgba(58,131,168,1);
		border-right: 300px solid transparent;
		position:absolute;
		z-index:105;
		bottom:0;
		margin-bottom:96px;
	}
	

	.wpis {
		width:300px;
		height:380px;
		background-color: rgba(58,131,168,0.6);
		margin-left: 33px;
		margin-right: 33px;
		float:left;
		position:relative;
	}
	
	
	.imgblogimg {
		overflow:hidden;
		width:300px;
		height:284px;
		margin-left:auto;
		margin-right:auto;
		margin-top:0px;
	}
	
	.imgblog1 {
		width:300px;
		height:284px;
		background:url(images/waran.jpg)no-repeat center;
		background-size: 160% 100%;
		transition-property: transform;
		transition-duration: 0.5s;
	}
	
	
	.imgblog2 {
		width:300px;
		height:284px;
		background:url(images/z.jpg)no-repeat center;
		background-size: 120% 100%;
		transition-property: transform;
		transition-duration: 0.5s;
		
	}
	
	.imgblog3 {
		width:300px;
		height:284px;
		background:url(images/y.jpg)no-repeat center;
		background-size: 150% 100%;
		transition-property: transform;
		transition-duration: 0.5s;
		-webkit-transition-duration: 0.5s;
		-moz-transition-duration: 0.5s;
		-ms-transition-duration: 0.5s;
	}
		
	
	.wpis:hover .imgblog1{
		transform:scale(1.2);
	}
	
	.wpis:hover .imgblog2 {
		transform:scale(1.2);
	}
	
	.wpis:hover .imgblog3{
		transform:scale(1.2);
	}

	.wpis:hover .czytaj{
		opacity:0.5;
	}
	
/* Szablon */

	
	#all {
		margin-left:auto;
		margin-right:auto;
		position:relative;
	}
	
	
	#szablonback{
		margin-left:auto;
		margin-right:auto;
		width: 840px;
		background-color:rgba(255,255,255,0.88);
		border: 7px solid rgba(58,131,168,1);
		-webkit-box-shadow: inset -1px -1px 144px -44px rgba(0,0,0,0.75);
		-moz-box-shadow: inset -1px -1px 144px -44px rgba(0,0,0,0.75);
		box-shadow: inset -1px -1px 144px -44px rgba(0,0,0,0.75);
	}
	
	#Comment_wrap{
		width:700px;
		margin-left:auto;
		margin-right:auto;
		padding:40px;
	}

	
	.triangle1 {
		margin-right:auto;
		margin-left:auto;
		margin-top:42px;
		width: 0;
		height: 0;
		border-bottom: 56px solid rgba(58,131,168,1);
		border-left: 854px solid transparent;
	}
	.triangle2 {
		margin-right:auto;
		margin-left:auto;
		margin-bottom:42px;
		width: 0;
		height: 0;
		border-top: 56px solid rgba(58,131,168,1);
		border-right: 854px solid transparent;
	}

	.header {
		background:url(images/waran.jpg)no-repeat center ;
		background-size:cover;
		height:245px;
		width:840px;
		position:relative;
	}
	
	.header:after{
		content: '';
		position: absolute;
		width: 100%; height:100%;
		top:0; left:0;
		background:url(images/overlay.png);
	}
	
	.header2 {
		position:relative;
		background:url(images/y.jpg)no-repeat center ;
		background-size:cover;
		height:245px;
		width:840px;
	}
	
	
	
	.header2:after{
		content: '';
		position: absolute;
		width: 100%; height:100%;
		top:0; left:0;
		background:url(images/overlay.png);
	}
	
	.header3 {
		position:relative;
		background:url(images/z.jpg)no-repeat center ;
		background-size:cover;
		height:245px;
		width:840px;
	}
	
	
	
	.header3:after{
		content: '';
		position: absolute;
		width: 100%; height:100%;
		top:0; left:0;
		background:url(images/overlay.png);
	}
	
	h1{
		width:840px;
		margin-top:0;
		margin-bottom:0;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		color:black;
		top:77%;
		background-color:rgba(58,131,168,0.4);
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
		letter-spacing: 1.4px;
		font-weight:300;
		font-size: 42px;
		display:block;
		position:relative;
		z-index:110;
	}
	
	section{
		font-family: 'Open sans', sans-serif;
		text-align:justify;
		font-size: 14px;
		margin:14px 70px 210px 70px;
		line-height: 1.6;
		color: black;
	}
	
	section p{
		font-weight:700;
		margin:28px;
	}
	
	.artykulimg {
		display:block;
		object-fit: cover;
		 width: 560px;
		height:325px;
		vertical-align:middle;
		padding: 4.9px;
		border: 1.4px solid #dfdfdf;
		margin-bottom:14px;
		margin-top:14px;
		margin-left:auto;
		margin-right:auto;
	}

	.nawiasy {
		background: url(images/bottom.png) repeat-x bottom left;
		overflow:hidden;
		width:840px;
		height:6.3px;
	}
	
	.szablonbottom {
		
		margin-left:auto;
		margin-right:auto;
		margin-bottom:35px;
	}
	
	h2{
		font-weight:300;
		font-family: 'Open Sans Condensed', sans-serif;
		color:black;
		font-size: 16.8px;
		letter-spacing:1px;
		position:relative;
		margin-bottom:70px;
	}
	
	.leftone {
		float:left;
		
	}
	
	.rightone{
		float:right;
		
	}
	
	
	h3:before{
		content: '';
		display: block;
		clear: both;
	}
	
	h3{
		text-align:center;
		font-family: 'Open Sans Condensed', sans-serif;
		color:black;
		font-size: 21px;
		letter-spacing:1px;
		position:relative;
		margin-top:63px;
		margin-bottom:0;
		font-weight:700;
	}

	.takze {
		display:block;
		object-fit: cover;
		width: 344.4px;
		height:210px;
		vertical-align:middle;
		margin-left:auto;
		margin-right:auto;
		float:left;
		border-left: 2.8px solid #dfdfdf;
		border-right: 2.8px solid #dfdfdf;
	}
	
	.boxszablon1 {
		width: 350px;
		height:210px;
		float:left;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		
	}
	
	.boxszablon2 {
		width: 350px;
		height:210px;
		float:left;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		
	}
	
	
	.overlay1 {
	  position: absolute;
	  bottom: 0;
	  left: 100%;
	  right: 0;
	  background-color: rgba(58,131,168,0.4);
	  overflow: hidden;
	  width: 0;
	  height: 100%;
	  transition: .5s ease;
	}
	
	
	.overlay2 {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background-color: rgba(58,131,168,0.4);
	  overflow: hidden;
	  width: 0;
	  height: 100%;
	  transition: .5s ease;
	}
	
	.textszablon {
		white-space: nowrap; 
		color: white;
		font-size: 19.6px;
		position: absolute;
		overflow: hidden;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
		letter-spacing: 1.4px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
	
	

	.boxszablon1:hover .overlay1 {
		width: 100%;
		left: 0;
	}
	
	.boxszablon2:hover .overlay2 {
		width: 100%;
		left: 0;
	}
	
	.scrollup {
		width:130px;
		height:130px;
		transform:scale(0.65);
		text-decoration:none;
		position:fixed;
		right:20px;
		bottom:20px;
		background:url("images/up.png") no-repeat 0px 0px;
		display:none;
		z-index:100;
	}

	
	.info{
		position:fixed;
		width:100%;
		height:200%;
		z-index:200;
		background-color:rgba(1,1,1,0.6);	
	}
	
	.infob{
		background-color: rgba(1000,1000,1000,0.85);
		border: 10px solid rgba(58,131,168,1);
		width:400px;
		margin: auto;
		height: 200px;
		top:50%;
		right:50%;
		margin-top:-65vh;
		transform: translateX(50%);
		position: absolute;
		-webkit-box-shadow: -2px 0px 300px 10px rgba(0,0,0,0.97);
-moz-box-shadow: -2px 0px 300px 10px rgba(0,0,0,0.97);
box-shadow: -2px 0px 300px 10px rgba(0,0,0,0.97);

		
	}
	
	.infott{
		margin: auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 1px;
		font-size: 23px;
		position: relative;
		top: 48%;
		transform: translateY(-50%);
		font-weight:300;
		width:300px;
		
	}
	
	.infoi{
		position:absolute;
		top:3px;
		right:3px;
		width:48px;
		height:48px;
		vertical-align:middle;
		cursor:pointer;
	}
	
	.infots{
		margin:auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		font-size: 14px;
		position: absolute;
		bottom:3px;
		margin-left:10%;
	}

@media (min-width: 1440px) {

/* Strona główna */ 

	#main {
		width:1440px;
		margin-right:auto;
		margin-left:auto;
	}
	
	#longer {
		height: 75px;
		background-color: #3A83A8;
		opacity: 0.90;

		
	}
	
	#menu {
		height: 75px;
		background-color: #3A83A8;
		opacity: 0.95;
		letter-spacing: 2px;
		font-family: 'Julius Sans One';
		color: black;
		display:block;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
		margin-left:auto;
		margin-right:auto;
	}
	
	#mailmk {
		margin: auto;
		text-align: center;
		font-size: 55px;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		width: 940px;
		letter-spacing: 2px;
		height:80px;
		padding:20px;
		position:relative;
		background-color: rgba(58,131,168,0.6);
		border-radius:50px;
	}

	#back {
		width:1000px;
		position:relative;
		margin: auto;
		left: 50%;
		top: 50%; 
		position: absolute;
		margin-left: -500px;
		margin-top: -250px;
		padding-bottom:50px;
	}
	
	#icons {
		float:left;
		width:1000px;
		text-align:center;
		padding-top:40px;
		margin:auto;
	}
	
	#toggle{
		display:none;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size:40px;
		text-align:center;
		position:absolute;
		padding-top:5px;
		outline: none;
		height:70px;
		width:285px;
		right:50%;
		background-color: #3A83A8;
	}
	
	.circle {
		float:left;
		height:300px;
		width:300px;
		border-radius:150px;
		background-color: rgba(58,131,168,0.6);
		margin:16px;
	}
	
	.icon {
		height:180px;
		width:180px;
		margin-top:60px;
	}
	
	.mirko {
		height:170px;
		width: 210px;
		margin-top:65px;
	
	}
	
	.icon:hover{
		opacity:0.8;
		
	}
	
	.mirko:hover{
		opacity:0.8;
	}
	
	#opa:hover{
		opacity:0.8
	}
	
	.mail {
		height:70px;
		width:65px;
		margin-right:5px;
	}
	
	.navm2{
		display:none;
	}
	
	nav{
		position:relative;
		list-style:none;
		padding:0;
		margin-top:0;
		margin-bottom:0;
	}
	
	ul{
		padding:0;
		margin-top:0;
		margin-bottom:0;
		
	}
	
	ul > li{
		list-style:none;
		float:left;
		font-size:45px;
		text-align:center;
		height: 75px;
		padding:0;
		margin-top:0;
		margin-bottom:0;
	}
	
	.nav1{
		height: 75px;
		padding: 15px;
		font-size: 45px;
		text-align: center;
		float:left;
		min-width:222px;
		margin-right:5px;
		margin-left:58px;
	}
	
	.nav2{
		height: 75px;
		padding: 15px;
		font-size: 45px;
		margin-right:20px;
		text-align: center;
		float:left;
		min-width:176px;
		margin-left: 20px;
	}
	
	.nav3 {
		height: 75px;
		width: 295px;
		float: left;
		font-size: 45px;
		margin-left: 15px;
		margin-right: 15px;
		border-left: dotted 1px;
		border-right: dotted 1px;
	}

	.nav4 {
		height: 75px;
		padding: 15px;
		font-size: 45px;
		text-align: center;
		float:left;
		min-width:227px;
		margin-left:20px;
		margin-right: 25px;
	}

	.nav5 {
		height: 75px;
		padding: 15px;
		font-size: 45px;
		text-align: center;
		float:left;
		min-width:99px;
		margin-right: 60px;
	}

	.dur1{
		width:0px;
		height:50px;
		transition-property: width, margin-right;
		transition-duration: 500ms;
		border-bottom: solid 1px;
		margin-right: 222px;
		float:left;
		
	}


	.dur1:hover {
		width:222px;
		margin-right: 0px;
		cursor:pointer;
		
	}


	.dur2{
		width:0px;
		height:50px;
		transition-property: width, margin-right;
		transition-duration: 500ms;
		border-bottom: solid 1px;
		margin-right: 176px;
		float:left;
		
	}


	.dur2:hover {
		width:176px;
		margin-right: 0px;
		cursor:pointer;
		
	}

	.dur3{
		width:0px;
		height:50px;
		transition-property: width, margin-right;
		transition-duration: 500ms;
		border-bottom: solid 1px;
		margin-right: 227px;
		float:right;
		
	}


	.dur3:hover {
		width:227px;
		margin-right: 0px;
		cursor:pointer;
	}


	.dur4{
		width:0px;
		height:50px;
		transition-property: width, margin-right;
		transition-duration: 500ms;
		border-bottom: solid 1px;
		margin-right: 132px;
		float:right;
		
	}


	.dur4:hover {
		width:132px;
		margin-right: 0px;
		cursor:pointer;
		
	}


	
	.logo {
		height: 75px;
		width: 70px;
		margin-left: auto;
		margin-right: auto;
		display:block;
		
	}
	
	.count-particles{
	  position: absolute;
	  top: 48px;
	  left: 0;
	  width: 80px;
	  color: #13E8E9;
	  font-size: .8em;
	  text-align: left;
	  text-indent: 4px;
	  line-height: 14px;
	  padding-bottom: 2px;
	  font-family: Helvetica, Arial, sans-serif;
	  font-weight: bold;
	}

	.js-count-particles{
	  font-size: 1.1em;
		position:fixed;
	}




	#particles-js{
	  width: 100%;
	  height: 100%;
	  background-image: url('');
	  background-size: cover;
	  background-position: 50% 50%;
	  background-repeat: no-repeat;
	  position:fixed;
	}
	
/* Footer */

	#border {
		position:fixed;
		margin-right: auto;
		margin-left:auto;
		width:650px;	
		bottom: 0;
		right:0;
		left:0;
		border-bottom: 40px solid #3A83A8;
		border-left: 55px solid transparent;
		border-right: 55px solid transparent;
		opacity: 0.5;
		
	}
	
	
	footer {
		position:fixed;
		margin-right: auto;
		margin-left:auto;
		bottom: 0;
		right:0;
		left:0;
		font-size:17px;
		text-align: center;
		letter-spacing: 2px;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		padding: 10px;
		opacity:1;
	}
	
	
	#borderspecial {
		position:relative;
		margin-right: auto;
		margin-left:auto;
		width:650px;
		right:0;
		left:0;
		border-bottom: 40px solid #3A83A8;
		border-left: 55px solid transparent;
		border-right: 55px solid transparent;
		opacity: 0.5;
		z-index:-5;
		
	}
	
	#footerspecial {
		position:absolute;
		margin-top:-42px;
		margin-right: auto;
		margin-left:auto;
		right:0;
		left:0;
		text-align: center;
		font-size:17px;
		letter-spacing: 2px;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		padding: 10px;
		z-index:2;
		
	}
	
	#borderspecial:before{
		content: '';
		display: block;
		clear: both;
	}
	
	
/* Projekty */	
	
	#projekty {
		background-color: rgba(58,131,168,0.6);
		width:1150px;
		margin: auto;
		height: 300px;
		margin-top:-150px;
		top:50%;
		right:50%;
		transform: translateX(50%);
		position: absolute;
	}
	
	#tekst {
		margin: auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 34px;
		position: relative;
		top: 55%;
		transform: translateY(-50%);
	}
	
	.man{
		vertical-align:middle;
		position:absolute;
		width:70px;
		height:70px;
		top:15%;
		right:50%;
		transform:translateX(50%);
	}



/* o mnie */	


		/* 1 */
		
	.zdjecie {
		border-radius:50%;
		width:200px;
		position:relative;
		float:left;
		margin:10px;
		display:block;
		border: 7px solid rgba(58,131,168,0.8);
		margin-top:7%;
	}
	
	.tekstright {
		margin: auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 30px;
		position: relative;
		width:650px;
		float:left;
		padding:25px;
		margin-top:5px;
	}
	
	
	.tlo {
		width: 700px;
		height:350px;
		background-color: rgba(58,131,168,0.8);
		float:left;
		position:relative;
	}
	
	.triangle3 {
		width: 0;
		height: 0;
		margin:0;
		padding:0;
		border-top: 350px solid rgba(58,131,168,0.8);
		border-left: 150px solid transparent;
		float:left;
		position:relative;
	}
	.triangle4 {
		width: 0;
		height: 0;
		margin:0;
		padding:0;
		border-bottom: 350px solid rgba(58,131,168,0.8);
		border-right: 150px solid transparent;
		float:left;
		position:relative;
	}
	
	.part1 {
		width:1240px;
		padding:20px;
		position:relative;
		margin:auto;
		margin-top:9%;
		height:70vh;
	}
	
	/* 2 */
	
	.part2 {
		width:100%;
		height:450px;
		background-color: rgba(58,131,168,0.8);
		position:relative;
		margin:auto;
		float:left;
		
		padding-top:50px;
		padding-bottom:50px;
	
	}
	
	.title{
		margin: auto;
		text-align: center;
		font-weight:700;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		letter-spacing: 2px;
		font-size: 53px;
		position: relative;
		margin-top:40px;
		margin-bottom:10px;
		
	}
	
	.ex {
		float:left;
		margin:35px 80px 20px 80px;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 30px;
		font-weight:700;
		position: relative;
		display:block;
		width:150px;
		height:210px;
	}
	
	.lang{
		height:150px;
		width:150px;
		position:relative;
	}
	
	
	.second{
		width:1240px;
		margin:auto;
	}
	
	.tst{
		float:bottom;
		display:block;
		margin-top:10px;
	}
	/* 3 */
	
	.part3 {
		width:100%;
		height:550px;
		background-color: rgba(93,178,221,0.8);
		position:relative;
		margin:auto;
		float:left;
		margin-top:25vh;
		margin-bottom:30vh;
		padding-top:50px;
		padding-bottom:50px;
	}
	
	
	
	.ax {
		float:left;
		margin:35px 83px 20px 83px;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 30px;
		font-weight:700;
		position: relative;
		display:block;
		width:200px;
		height:320px;
	}
	
	.lang2 {
		height:70px;
		width:70px;
		position:relative;
	}
	
	.arrow {
		float:left;
		position:relative;
		width:70px;
		margin-top:130px;
	}
	
	.tt {
		margin: auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		letter-spacing: 2px;
		font-size: 48px;
		position: relative;
		margin-bottom:10px;
	}
	
	.infot{
		margin: auto;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		letter-spacing: 2px;
		font-size: 23px;
		position: relative;
		margin-top:10px;
		font-weight:300;
		margin-left:-25px;
		margin-bottom:10px;
		width:250px;
		
	}
	
	.scrolldown{
		text-decoration:none;
		position:absolute;
		right:50%;
		bottom:20px;
		transform:translateX(50%);
		background:url("images/arrowd.png") no-repeat 0px 0px;
		width:128px;
		height:128px;
		z-index:100;
	}
		
	#try{
		position:relative;
		bottom:0;
		padding-top:10vh;
	}
	
	/* 4 */
	
	.part4 {
		width:100%;
		height:450px;
		background-color: rgba(58,131,168,0.8);
		position:relative;
		margin:auto;
		float:left;
		padding-top:50px;
		padding-bottom:50px;
		margin-bottom:30vh;
	
	}
	
	.spotify {
		margin:auto;
		width:300px;
		height:300px;
		position:relative;
		float:left;
		display:block;
		margin-top:10px;
		padding:6px;
		border: 4px solid rgba(58,131,168,1);
	}
	
	.opis {
		margin: auto;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 28px;
		position: relative;
		text-align:center;
		width:450px;
		float:left;
		display:block;
		margin-top: 65px;
		padding: 0px 50px 0px 50px;
	}
	
	.b {
		margin:auto;
		width:870px;
		display:block;
		
	}
	
	.special{
		font-style:italic;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
		
	}

/* Blog */

	#content {
		width:1440px;
		margin:auto;
		min-height:500px;
		top:50%;
		right:50%;
		margin-top:-310px;
		transform: translateX(50%);
		position: absolute;
		}

	.wpis {
		width:380px;
		height:480px;
		background-color: rgba(58,131,168,0.6);
		margin:50px;
		float:left;
		
	}
	
	
	.overlay{
		position:absolute;
		width:100%;
		height:100%;
		background:url(images/overlay.png);
		z-index:109;
	}
	
	
	.tresc{
		background-color: rgba(58,131,168,1);
		width:380px;
		min-height:125px;
		position:relative;
	}
	
	.wewnatrz{
		text-align:left;
		width:350px;
		max-height:100%;
		margin:5px 0px 20px 10px;
		font-size: 28px;
		position: absolute;
		font-weight:300;
		z-index:110;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
		letter-spacing: 2px;
	}

	
	.triangle6 {
		width: 0;
		height: 0;
		border-bottom:60px solid rgba(58,131,168,1);
		border-right: 380px solid transparent;
		position:absolute;
		z-index:105;
		bottom:0;
		margin-bottom:125px;
	}
	
	.imgblogimg {
		overflow:hidden;
		width:380px;
		height:355px;
		margin-left:auto;
		margin-right:auto;
		margin-top:0px;
	}
	
	.imgblog1 {
		width:380px;
		height:355px;
		background:url(images/waran.jpg)no-repeat center;
		background-size: 160% 100%;
		transition-property: transform;
		transition-duration: 0.5s;
		
	}
	
	.imgblog2 {
		width:380px;
		height:355px;
		background:url(images/z.jpg)no-repeat center;
		background-size: 170% 100%;
		transition-property: transform;
		transition-duration: 0.5s;
	}
	
	.imgblog3 {
		width:380px;
		height:355px;
		background:url(images/y.jpg)no-repeat center;
		background-size: 170% 100%;
		transition-property: transform;
		transition-duration: 0.5s;
	}

	
	
	.wpis:hover .imgblog1{
		transform:scale(1.2);
	}
	
	.wpis:hover .imgblog2 {
		transform:scale(1.2);
	}
	
	.wpis:hover .imgblog3{
		transform:scale(1.2);
	}
	
	.wpis:hover .czytaj{
		opacity:0.5;
	}
	
/* Szablon */

	
	#Comment_wrap{
		width:1000px;
		margin-left:auto;
		margin-right:auto;
		padding:50px;
	}

	#scale {
		transform:scale(1.0);
		margin-top: 0px;
		margin-bottom:0px;
	}

	#all {
		margin-left:auto;
		margin-right:auto;
		position:relative;
		transform:scale(1.0);
	}
	
	
	#szablonback{
		margin-left:auto;
		margin-right:auto;
		width: 1200px;
		background-color:rgba(255,255,255,0.88);
		border: 10px solid rgba(58,131,168,1);
		-webkit-box-shadow: inset -1px -1px 144px -44px rgba(0,0,0,0.75);
		-moz-box-shadow: inset -1px -1px 144px -44px rgba(0,0,0,0.75);
		box-shadow: inset -1px -1px 144px -44px rgba(0,0,0,0.75);
	}
	
	
	.triangle1 {
		margin-right:auto;
		margin-left:auto;
		margin-top:60px;
		width: 0;
		height: 0;
		border-bottom: 80px solid rgba(58,131,168,1);
		border-left: 1220px solid transparent;
	}
	.triangle2 {
		margin-right:auto;
		margin-left:auto;
		margin-bottom:60px;
		width: 0;
		height: 0;
		border-top: 80px solid rgba(58,131,168,1);
		border-right: 1220px solid transparent;
	}

	.header {
		position:relative;
		background:url(images/waran.jpg)no-repeat center ;
		background-size:cover;
		height:350px;
		width:1200px;
	}
	
	
	
	.header:after{
		content: '';
		position: absolute;
		width: 100%; height:100%;
		top:0; left:0;
		background:url(images/overlay.png);
	}
	
	
	.header2 {
		position:relative;
		background:url(images/y.jpg)no-repeat center ;
		background-size:cover;
		height:350px;
		width:1200px;
	}
	
	
	
	.header2:after{
		content: '';
		position: absolute;
		width: 100%; height:100%;
		top:0; left:0;
		background:url(images/overlay.png);
	}
	
	
	.header3 {
		position:relative;
		background:url(images/z.jpg)no-repeat center ;
		background-size:cover;
		height:350px;
		width:1200px;
	}
	
	
	
	.header3:after{
		content: '';
		position: absolute;
		width: 100%; height:100%;
		top:0; left:0;
		background:url(images/overlay.png);
	}

	
	h1{
		width:1200px;
		margin-top:0;
		margin-bottom:0;
		text-align: center;
		color:black;
		top:76.5%;
		letter-spacing: 2px;
		font-size: 60px;
		display:block;
		font-weight:300;
		position:relative;
		background-color:rgba(58,131,168,0.4);
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
		letter-spacing: 2px;
		z-index:110;
	}
		
	
	section{
		font-family: 'Open sans', sans-serif;
		text-align:justify;
		font-size: 20px;
		margin:20px 100px 320px 100px;
		line-height: 1.6;
		color: black;
	}
	
	section p{
		font-weight:700;
		margin:40px;
	}
	
	.artykulimg {
		display:block;
		object-fit: cover;
		width: 800px;
		height:450px;
		vertical-align:middle;
		padding: 7px;
		border: 2px solid #dfdfdf;
		margin-bottom:20px;
		margin-top:20px;
		margin-left:auto;
		margin-right:auto;
	}

	.nawiasy {
		background: url(images/bottom.png) repeat-x bottom left;
		overflow:hidden;
		width:1200px;
		height:9px;
	}
	
	.szablonbottom {
		
		margin-left:auto;
		margin-right:auto;
		margin-bottom:50px;
	}
	
	h2 {
		font-weight:300;
		font-family: 'Open Sans Condensed', sans-serif;
		color:black;
		font-size: 24px;
		letter-spacing:1px;
		position:relative;
		margin-bottom:100px;
	}
	
	.leftone {
		float:left;
		
	}
	
	.rightone{
		float:right;
		
	}
	
	h3{
		text-align:center;
		font-family: 'Open Sans Condensed', sans-serif;
		color:black;
		font-size: 30px;
		letter-spacing:1px;
		position:relative;
		margin-top:90px;
		margin-bottom:0;
		font-weight:700;
	}

	.takze {
		display:block;
		object-fit: cover;
		width: 492px;
		height:300px;
		vertical-align:middle;
		margin-left:auto;
		margin-right:auto;
		float:left;
		border-left: 4px solid #dfdfdf;
		border-right: 4px solid #dfdfdf;
	}
	
	.boxszablon1 {
		width: 500px;
		height:300px;
		float:left;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		
	}
	
	.boxszablon2 {
		width: 500px;
		height:300px;
		float:left;
		margin-left:auto;
		margin-right:auto;
		position:relative;
		
	}
	
	
	.overlay1 {
	  position: absolute;
	  bottom: 0;
	  left: 100%;
	  right: 0;
	  background-color: rgba(58,131,168,0.4);
	  overflow: hidden;
	  width: 0;
	  height: 100%;
	  transition: .5s ease;
	}
	
	
	.overlay2 {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background-color: rgba(58,131,168,0.4);
	  overflow: hidden;
	  width: 0;
	  height: 100%;
	  transition: .5s ease;
	}
	
	.textszablon {
		white-space: nowrap; 
		color: white;
		font-size: 28px;
		position: absolute;
		overflow: hidden;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
		letter-spacing: 2px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	}
	
	

	.boxszablon1:hover .overlay1 {
		width: 100%;
		left: 0;
	}
	
	.boxszablon2:hover .overlay2 {
		width: 100%;
		left: 0;
	}

	.scrollup {
		width:130px;
		height:130px;
		transform:scale(0.8);
		text-decoration:none;
		position:fixed;
		right:20px;
		bottom:20px;
		background:url("images/up.png") no-repeat 0px 0px;
		display:none;
		z-index:100;
	}
	
	.info{
		position:fixed;
		width:100%;
		height:200%;
		z-index:200;
		background-color:rgba(1,1,1,0.6);	
	}
	
	.infob{
		background-color: rgba(1000,1000,1000,0.85);
		border: 10px solid rgba(58,131,168,1);
		width:500px;
		margin: auto;
		height: 250px;
		top:50%;
		right:50%;
		margin-top:-65vh;
		transform: translateX(50%);
		position: absolute;
		-webkit-box-shadow: -2px 0px 300px 10px rgba(0,0,0,0.97);
-moz-box-shadow: -2px 0px 300px 10px rgba(0,0,0,0.97);
box-shadow: -2px 0px 300px 10px rgba(0,0,0,0.97);

		
	}
	
	.infott{
		margin: auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 1px;
		font-size: 31px;
		position: relative;
		top: 48%;
		transform: translateY(-50%);
		font-weight:300;
		width:400px;
		
	}
	
	.infoi{
		position:absolute;
		top:5px;
		right:5px;
		width:64px;
		height:64px;
		vertical-align:middle;
		cursor:pointer;
	}
	
	.infots{
		margin:auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		font-size: 18px;
		position: absolute;
		bottom:5px;
		margin-left:9%;
	}
	
	
}

@media (max-width: 600px) {
	
	
	html
	{
	background: url(images/bg1.svg) no-repeat center center fixed;
	background-size:cover;
	min-height:100%;
	background-color:rgba(58,131,168,0.6);
	}

	body {
	margin: 0;
	height: 100%;
	}
	
	#longer {
		height: 40px;
		background-color: none;
		opacity: 0.9;   
	}

	#main {
		width:300px;
		margin-right:auto;
		margin-left:auto;
	}

	#menu {
		position:absolute;
		right:1px;
		transform: translateX(0%);
		height: 40px;
		background-color: #3A83A8;
		letter-spacing: 1px;
		font-family: 'Julius Sans One';
		color: black;
		display:block;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
		opacity:0.95;
		margin-left:auto;
		margin-right:auto;
		z-index:400;
	}
	
	#back {
		width:280px;
		margin: auto;
		left: 50%;
		top: 50%; 
		position: absolute;
		margin-left: -140px;
		margin-top: -190px;
	}
	
	#mailmk {
		width: 280px;
		height:40px;
		position:relative;
		margin: auto;
		text-align: center;
		font-size: 20px;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 1px;
		background-color: rgba(58,131,168,0.6);
		padding:15px 0px 10px 0px;
		border-radius:50px;
	}

	
	#icons {
		margin:auto;
		float:center;
		width:280px;
		padding-top:30px;
		text-align:center;
	}
	
	.navm1{
		display:none;
	}
	
	.list{
		display:inline;
		position:absolute;
		z-index:500;
		left:0;
		width:38px;
		height:38px;
		top:0;
		background:url("images/up.png") no-repeat 0px 0px;
		
	}
	
	.evry{
		display:none;
		
		
	}
	
	#toggle{
		display:none;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size:35px;
		outline: none;
		text-align:center;
		position:absolute;
		padding-top:5px;
		height:60px;
		width:220px;
		right:50%;
		transform: translateX(50%);
		background-color: #3A83A8;
	}
	
	.navm{
		position:relative;
		height: 40px;
		padding:15px 0px 5px 0px;
		text-align: center;
		float:left;
		min-width:100%;
		background-color: #3A83A8;
		margin-left:0;
	}
	
	
	.nav1{
		position:relative;
		height: 40px;
		padding:15px 0px 5px 0px;
		font-size: 25px;
		text-align: center;
		float:left;
		min-width:100%;
		background-color: #3A83A8;
		margin-left:0;
		z-index:400;
	}
	
	.nav2{
		position:relative;
		height: 40px;
		padding:15px 0px 5px 0px;
		font-size: 25px;
		margin-left: auto;
		margin-right:auto;
		text-align: center;
		float:left;
		min-width:100%;
		background-color: #3A83A8;
		z-index:400;
	}
	
	.nav3 {
		display:none;
	}

	.nav3:hover .logo{
		transform:scale(0.85);
	}
	
	.nav4 {
		position:relative;
		height: 40px;
		padding:15px 0px 5px 0px;
		font-size: 25px;
		margin-left: auto;
		margin-right:auto;
		text-align: center;
		float:left;
		min-width:100%;
		background-color: #3A83A8;
		z-index:4000;
	}

	.nav5 {
		position:relative;
		height: 40px;
		padding:15px 0px 5px 0px;
		font-size: 25px;
		margin-right: 0px;
		text-align: center;
		float:left;
		min-width:100%;
		background-color: #3A83A8;
		z-index:4000;
	}

	
	nav{
		position:relative;
		list-style:none;
		padding:0;
		margin-top:0;
		margin-bottom:0;
		z-index:1000;
	}
	
	ul{
		padding:0;
		margin-top:0;
		z-index:1000;
		margin-bottom:0;
	}
	
	ul > li{
		list-style:none;
		float:left;
		font-size:25px;
		text-align:center;
		height: 40px;
		padding:0;
		margin-top:0;
		z-index:1000;
		margin-bottom:0;
	}

	.navm2{
		display:inline;
	}
		
	.logo {
		height: 65px;
		width: 60px;
		margin-left: auto;
		margin-right: auto;
		display:block;
		transition-property:transform; 
		transition-duration:300ms;
	}
	
	.mail {
		height:20px;
		width:15px;
		margin-right:5px;
		vertical-align:middle;
	}
	
	.icon {
		height:130px;
		width:130px;
		margin-top:35px;
		transition:transform;
		transition-duration:300ms;
	}
	
	.circle {
		right:50%;
		transform: translateX(20%);
		margin-left:-100px;
		float:center;
		height:200px;
		width:200px;
		border-radius:100px;
		background-color: rgba(58,131,168,0.6);
		margin:0;
	}
	
	.mirko {
		height:130px;
		width: 160px;
		outline:none;
		margin-top:35px;
		transition:transform;
		transition-duration:300ms;
	}
	
	.icon:hover{
		opacity:0.8;
		transform:scale(0.9);
	}
	
	.mirko:hover{
		opacity:0.8;
		transform:scale(0.9);
	}
	
	#opa {
		transition:transform;
		transition-duration:300ms;
	}
	
	#opa:hover{
		opacity:0.8;
		transform:scale(0.95);
	}

		.count-particles{
		  position: absolute;
		  top: 48px;
		  left: 0;
		  width: 80px;
		  color: #13E8E9;
		  font-size: .8em;
		  text-align: left;
		  text-indent: 4px;
		  line-height: 14px;
		  padding-bottom: 2px;
		  font-family: Helvetica, Arial, sans-serif;
		  font-weight: bold;
		}

		.js-count-particles{
		  display:none;
		}


		#particles-js{
		  display:none;
		}

	
	/* Footer */
		
	#border {
		display:none;
		
	}
	
	footer {
		display:none;
	}
	
	

		
	#borderspecial {
		display:none;
		
	}
	
	#footerspecial {
		display:none;
		
	}
	
	#borderspecial:before{
		display:none;
	}
	
	
	
	/* Projekty */	
	
	#projekty {
		background-color: rgba(58,131,168,0.6);
		width:300px;
		margin: auto;
		height: 100%;
		margin-top:-150px;
		top:50%;
		right:50%;
		transform: translateX(50%);
		position: absolute;
		margin-bottom:70px;
	}
	
	#tekst {
		margin: auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 26px;
		position: relative;
		top: 55%;
		transform: translateY(-50%);
	}
	
	.man{
		vertical-align:middle;
		position:absolute;
		width:70px;
		height:70px;
		top:15%;
		right:50%;
		transform:translateX(50%);
	}

/* Blog */

	#content {
		width:300px;
		margin:auto;
		min-height:100%;
		top:50%;
		right:50%;
		margin-top:-40px;
		transform: translateX(50%);
		position: absolute;
		}

	.wpis {
		width:300px;
		height:480px;
		background-color: rgba(58,131,168,0.6);
		margin:30px 0px 30px 0px;
		float:left;
		
	}
	
	
	.overlay{
		position:absolute;
		width:100%;
		height:100%;
		background:url(images/overlay.png);
		z-index:109;
	}
	
	
	.tresc{
		background-color: rgba(58,131,168,1);
		width:300px;
		min-height:125px;
		position:relative;
	}
	
	.wewnatrz{
		text-align:left;
		width:270px;
		max-height:100%;
		margin:5px 0px 20px 10px;
		font-size: 28px;
		position: absolute;
		font-weight:300;
		z-index:110;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.35);
		letter-spacing: 2px;
	}

	
	.triangle6 {
		width: 0;
		height: 0;
		border-bottom:60px solid rgba(58,131,168,1);
		border-right: 300px solid transparent;
		position:absolute;
		z-index:105;
		bottom:0;
		margin-bottom:125px;
	}
	
	.imgblogimg {
		overflow:hidden;
		width:300px;
		height:355px;
		margin-left:auto;
		margin-right:auto;
		margin-top:0px;
	}
	
	.imgblog1 {
		width:300px;
		height:355px;
		background:url(images/waran.jpg)no-repeat center;
		background-size: 200% 100%;
		transition-property: transform;
		transition-duration: 0.5s;
		
	}
	
	.imgblog2 {
		width:300px;
		height:355px;
		background:url(images/z.jpg)no-repeat center;
		background-size: 170% 100%;
		transition-property: transform;
		transition-duration: 0.5s;
	}
	
	.imgblog3 {
		width:300px;
		height:355px;
		background:url(images/y.jpg)no-repeat center;
		background-size: 190% 100%;
		transition-property: transform;
		transition-duration: 0.5s;
	}

	
	
	.wpis:hover .imgblog1{
		transform:scale(1.2);
	}
	
	.wpis:hover .imgblog2 {
		transform:scale(1.2);
	}
	
	.wpis:hover .imgblog3{
		transform:scale(1.2);
	}
	
	.wpis:hover .czytaj{
		opacity:0.5;
	}
	
/* Szablon */
	
	#all {
		margin-top:200px;
	}
	
	.infob{
		top:100px;
		left:10px;
		right:60%;
		margin-top:0;
		transform: none;
		width:300px;
	}
	
	/* o mnie */	


		/* 1 */
		
	.zdjecie {
		border-radius:50%;
		width:200px;
		position:relative;
		float:left;
		right:50%;
		transform: translateX(100%);
		margin:10px;
		display:block;
		border: 7px solid rgba(58,131,168,0.8);
		margin-top:7%;
	}
	
	.tekstright {
		margin: auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 28px;
		position: relative;
		width:300px;
		height:100%;
		float:left;
		padding:15px;
		margin-top:5px;
	}
	
	
	.tlo {
		width: 330px;
		height:100%;
		background-color: rgba(58,131,168,0.8);
		float:left;
		position:relative;
	}
	
	.triangle3 {
		display:none;
	}
	.triangle4 {
		display:none;
	}
	
	.part1 {
		width:330px;
		padding:10px;
		position:relative;
		margin:auto;
		margin-top:170px;
		height:645px;
	}
	
	/* 2 */
	
	.part2 {
		width:100%;
		height:100%;
		background-color: rgba(58,131,168,0.8);
		position:relative;
		margin:auto;
		float:left;
		padding-top:50px;
		padding-bottom:50px;
		margin-top:100px;
	
	}
	
	.title{
		margin: auto;
		text-align: center;
		font-weight:700;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		letter-spacing: 2px;
		font-size: 53px;
		position: relative;
		margin-top:40px;
		margin-bottom:10px;
		
	}
	
	.ex {
		float:left;
		margin:35px 80px 20px 80px;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 30px;
		border:0;
		font-weight:700;
		position: relative;
		display:block;
		width:150px;
		height:210px;
	}
	
	.lang{
		height:150px;
		width:150px;
		position:relative;
	}
	
	
	.second{
		width:330px;
		margin:auto;
	}
	
	.tst{
		float:bottom;
		display:block;
		margin-top:10px;
	}
	/* 3 */
	
	.part3 {
		width:100%;
		height:100%;
		background-color: rgba(93,178,221,0.8);
		position:relative;
		margin:auto;
		float:left;
		margin-top:25vh;
		margin-bottom:30vh;
		padding-top:50px;
		padding-bottom:50px;
	}
	
	
	
	.ax {
		float:left;
		margin:35px 65px 20px 65px;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 30px;
		font-weight:700;
		position: relative;
		display:block;
		width:200px;
		height:320px;
		border:0;
	}
	
	.lang2 {
		height:70px;
		width:70px;
		position:relative;
	}
	
	.arrow {
		display:none;
	}
	
	.tt {
		margin: auto;
		text-align: center;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		letter-spacing: 2px;
		font-size: 48px;
		position: relative;
		margin-bottom:10px;
	}
	
	.infot{
		margin: auto;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
		letter-spacing: 2px;
		font-size: 23px;
		position: relative;
		margin-top:10px;
		font-weight:300;
		margin-left:-25px;
		margin-bottom:10px;
		width:250px;
		
	}
	
	.scrolldown{
		display:none;
	}
		
	#try{
		position:relative;
		bottom:0;
		padding-top:20vh;
	}
	
	/* 4 */
	
	.part4 {
		width:100%;
		height:100%;
		background-color: rgba(58,131,168,0.8);
		position:relative;
		margin:auto;
		float:left;
		padding-top:50px;
		padding-bottom:50px;
		margin-bottom:30vh;
	
	}
	
	.spotify {
		margin:auto;
		margin-left:15px;
		width:300px;
		height:300px;
		position:relative;
		float:left;
		display:block;
		margin-top:10px;
		padding:6px;
		border: 4px solid rgba(58,131,168,1);
	}
	
	.opis {
		margin: auto;
		font-family: 'Open Sans Condensed', sans-serif;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
		letter-spacing: 2px;
		font-size: 24px;
		position: relative;
		text-align:center;
		width:340px;
		float:left;
		display:block;
		margin-top: 65px;
		padding: 0px 5px 0px 5px;
	}
	
	.b {
		margin:auto;
		width:350px;
		display:block;
		
	}
	
	.special{
		font-style:italic;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
		
	}
}
	